*{box-sizing: border-box;}
.maincontainer{
    background-color: aliceblue;
    width: 600px;
    margin: 2rem auto;
    padding: 2rem;
}
.footer{
    background-color: rgb(10,10,10);
    color:aliceblue;
    padding: 2rem;
    text-align: center;
}
/* login.html*/
.title{
    text-align: center;
    color: darkblue;

}
.form_section{
    margin-bottom: 1rem;
}
.form_section input{
    padding: 0.5rem;
    width: 100%;
    border: none;
}
.btn_login, .btn_signup{
    background-color: darkblue;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: ease 500ms;
}
.btn_login:hover, .btn_signup:hover{
    background-color: crimson;
    font-weight: bolder;
}
.signup_div{
    margin-top: 3rem;
    color: darkblue;
}
.signup_div a{
    color: forestgreen;
    font-size: 1.1rem;
}
.signup_div a:hover{
    color: crimson;
}
.flash_msg{
    color:crimson;
}


.btn-logout{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: #ff0800;
}
.btn-logout:hover{
    text-decoration: underline;
}




/* index.html and script.js */
.title_2 { 
    text-align: center; 
    color: darkblue; 
} 
#taskinput { 
    width: 100%; 
    padding: 1rem; 
    border: 1px solid #cccccc; 
    border-radius: 8px; 
    font-size: 1.3rem; 
    box-sizing: border-box; 
} 
.btnaddtask { 
    width: 100%; 
    border-radius: 5px; 
    margin-top: 2rem; 
    background-color: blue; 
    padding: 1rem; 
    color: aliceblue; 
    border: none; 
    font-size: 1.5rem; 
} 
.btnaddtask:hover { 
    background-color: crimson; 
    font-weight: bolder; 
    cursor: pointer; 
} 
#tasklist { 
    background-color: whitesmoke; 
    padding: 0; 
    margin-top: 2rem;
} 
.task-item { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke; 
    list-style: none; 
    padding: 1rem 0.5rem; 
    border-bottom: solid gray 1px; 
    font-size: 1.5rem; 
}
.task-item.completed {
    background-color: #26ff00; 
    border-bottom: solid 1px #1e7e34;
}
.task-text-clickable {
    cursor: pointer;
    flex-grow: 1; 
    padding: 0.2rem 0.5rem;
}
.task-text-clickable:hover {
    background-color: #006eff; 
    border-radius: 4px;
}
.task-edit-item {
    font-size: 1.3rem;
    padding: 0.4rem;
    border: 2px solid blue;
    border-radius: 4px;
    width: 80%;
}
.btn-delete-item { 
    border: none; 
    font-size: 1.3rem;
    background-color: rgba(1, 1, 1, 0); 
    padding: 0.2rem 0.5rem;
} 
.btn-delete-item:hover { 
    opacity: 0.6; 
    cursor: pointer; 
}
.task-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    cursor: pointer;
    accent-color: rgb(26, 119, 0); 
}