{% extends 'base.html' %} 
{% block title %}My Blog{% endblock %} 
{% block msg %} Gonzalo Guerra {% endblock %} 
{% block content %} 
<h2 class="subtitle">Create a post</h2> 
<p class="blog-navigation-links">
    <a href="{{ url_for('blog_1') }}">📋 View All Blogs</a> | 
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
</p> 

<form action="/add_blog" method="post" class="blog_create"> 
    <div class="group"> 
        <input type="text" name="title" placeholder="Blog title" class="blog_input"> 
    </div> 
    <div class="group"> 
        <textarea name="content" placeholder="Write your blog..." class="blog_area"></textarea> 
    </div> 
    <button type="submit" class="blog_submit">Submit Post</button> 
</form> 
{% endblock %}